Source: okadminfinder
Maintainer: mIcHy AmRaNe <6m63er17c@mozmail.com>
Section: utils
Priority: optional
Build-Depends: debhelper (>= 13), dh-python, python3-setuptools, python3-all
Standards-Version: 4.6.0.1
X-Python3-Version: >= 3.7
Homepage: https://michyamrane.github.io/tools/okadminfinder/

Package: okadminfinder
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}, python3-socksio, tor
Description: [Admin panel - Directories - Subdomains] finder
 OKadminFinder: find [Admin panel - Directories - Subdomains] of website
